body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
  background-color: beige;
  animation: 0.75s ease-out 0s 1 slideInRight;
}
@keyframes slideInRight {
  0% {
    transform: translateX(180%);
  }
  100% {
    transform: translateX(0);
  }
}
.Famous-Landmarks {
  text-align: center;
  font-size: 3.5rem;
}
.Everything {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.landmarks {
  box-sizing: content-box;
  border: solid gray 0.5rem;
  width: 30%;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-radius: 2.5rem;
  text-align: center;
  font-size: 1rem;
  box-shadow: 1rem 1rem 1rem black;
  transition: all 0.7s;
}
.Pictures {
  max-width: 90%;
  height: 20rem;
  padding: 1rem;
}
.Statue {
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Header {
  font-size: 2rem;
}
.Famous-Landmarks:hover {
  transform: skew(70deg);
  transition: all 0.4s ease-in-out 0s;
}
.landmarks:hover {
  transform: scale(1.075);
}
.Sydney:hover {
  transform: rotate(180deg);
  transition: all.3s ease-in-out 0s;
}
.Paris {
  opacity: 0.5;
}
.Paris:hover {
  opacity: 1;
  transition: all 0.8s ease-in-out 0s;
}
.India:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media (max-width: 1050px) {
  .landmarks {
    width: 40%;
  }
}
@media (max-width: 780px) {
  .landmarks {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .Pictures {
    height: 15rem;
  }
}
