body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
  background-color: beige;
}
.Famous-Landmarks {
  text-align: center;
  font-size: 3.5rem;
}
.Everything {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.landmarks {
  box-sizing: content-box;
  border: solid gray 0.5rem;
  width: 30%;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-radius: 2.5rem;
  text-align: center;
  font-size: 1rem;
  box-shadow: 1rem 1rem 1rem black;
}
.Sydney {
  background-image: url(imgs/OperaHouse.jpg);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Paris {
  background-image: url(imgs/Eiffel\ Tower.jfif);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.India {
  background-image: url(imgs/Taj\ Mahal.jpg);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Peru {
  background-image: url(imgs/Machu\ Picchu.jpg);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.China {
  background-image: url(imgs/Great\ Wall\ of\ China.jfif);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Chile {
  background-image: url(imgs/Easter\ island.jfif);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Italy {
  background-image: url(imgs/Pisa.jpg);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Rome {
  background-image: url(imgs/Rome.jpg);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.New-York {
  background-image: url(imgs/Liberty.jfif);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: center;
  height: 20rem;
  padding: 1rem;
}
.Header {
  font-size: 2rem;
}
